<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountSignIn</servlet-name>
        <servlet-class>controllers.AccountSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSignUp</servlet-name>
        <servlet-class>controllers.AccountSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryIdList</servlet-name>
        <servlet-class>controllers.ProductListByCategoryId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-class>controllers.AccountProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDelete</servlet-name>
        <servlet-class>controllers.ProductDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEdit</servlet-name>
        <servlet-class>controllers.ProductEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>controllers.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCreate</servlet-name>
        <servlet-class>controllers.ProductCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllers.CartProfileCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfileEdit</servlet-name>
        <servlet-class>controllers.AccountProfileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controllers.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManage</servlet-name>
        <servlet-class>controllers.OrderManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>controllers.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>controllers.CartAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantity</servlet-name>
        <servlet-class>controllers.CartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartOrder</servlet-name>
        <servlet-class>controllers.CartOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountSignIn</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSignUp</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryIdList</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfile</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEdit</servlet-name>
        <url-pattern>/product-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDelete</servlet-name>
        <url-pattern>/product-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCreate</servlet-name>
        <url-pattern>/product-create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfileEdit</servlet-name>
        <url-pattern>/account/profile-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManage</servlet-name>
        <url-pattern>/order-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/order-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantity</servlet-name>
        <url-pattern>/cart-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartOrder</servlet-name>
        <url-pattern>/cart-order</url-pattern>
    </servlet-mapping>
</web-app>
